.navbar {
    /* top | left and right | bottom */
    padding: 35px 40px 35px;
    background-color: transparent;
    height: 200px;
    font-family: 'Cabin', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
  }

  /*for positioning footer to the bottom, the two classes following*/
.is-fullheight-100vh{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }  

.my-content{
  flex: 1;
}  

html {
  height: 100%;
  width: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 10px;
    background: linear-gradient(183deg, #081922 2.44%, #024949 175.43%);
    background-position: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden; 
    flex-shrink: 0;
  }


.navbar-menu .navbar-end{
  padding: 25px;
}

.navbar-menu .navbar-end .navbar-item{
  border-radius: 0px;
  color: aliceblue;
  width: auto;
  justify-content: left;
  margin: 20px;
}

 /* vertical line between items*/
.navbar-menu .navbar-end .navbar-item:not(:last-child):after {
  content: "";
  background-color: #008080;
  height: 1.5em;
  width: 3px;
  position:absolute;
  right: -20px;
  pointer-events: none;
}

.navbar-menu .navbar-end .navbar-item:hover{
  color: aliceblue;
  border-radius: 20px;
  background-color: #008080;
}

.navbar-menu .navbar-end a.active{
    color: #019C9C;
  }


.back-languages{
  background-color:#008080;
  height: 45px;
  display: flex;
  /*Vertical centering*/
  align-items: center;
}

section .button{
  background-color: #BC407F;
  color:aliceblue;
  border: transparent;
}

section .button-switch{
  background-color: transparent;
  position: absolute;
  margin-right: 8px;
  right: 0;
  height: 1em;
  width: 1em;
}

.button-history{
  background-color: #008080;
  color:aliceblue;
  border: transparent;
  position: absolute;
  top:160px;
  right: 0;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 15px 0px 0px 15px;
}

.button-history.is-active{
  right: 180px;
  }


.button-in, .button-none, .select select{
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-family: 'Montserrat';
  font-size: 11pt;
  font-weight: 500;
}



.select:not(.is-multiple):not(.is-loading)::after {
  border-color: aliceblue;
}



.button-in:hover, .select select:hover{
  background-color: transparent;
  border: none;
  color: rgb(0, 3, 5);
}


.logo{
  min-height: 130px;
  max-height: 200px;
}




.box{
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  vertical-align: top;
}



.box-out .button{
  background-color:#9aaac6;
  border-radius: 0;
}

.box-input{
  background-color: #9aaac6;
}
.box-out{
  background-color: #acbfe0;
}

.icon-text{
  vertical-align: middle;
}

footer{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #acbfe0;
  color: #acbfe0;
}

.textarea {
  border: 0 ;
  outline: none;
}



#my-history{
  display: flex;
  position: absolute;
  right: 0;
  top: 160px;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0;
  overflow-x: hidden;
  height: 100%;
  width: 180px;
  font-size: 15px;
}

@media screen and (max-width: 280px) {
  .logo {
    min-height: 90px;
  }
  .navbar-burger{
    padding: 0;
    margin-left: 0;
  }
  .navbar{
    padding-left: 10px;
  }

  #my-history{
    position: absolute;
    top:160px;
    right: -20px;
  }

  .button-history{
    position: absolute;
    top:160px;
    right: -20px;
  }

  .button-history.is-active{
    right: 160px;
    }
}

.navbar-menu.is-active{
background-color: #acbfe0;
}


table th, td{
  padding-bottom: 10px;
  padding-top: 10px;
}

tr{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #acbfe0;
}