<html lang="es">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLOM</title>
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="static/tlom-icono.png">
    <!--htmx-->
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <!--Bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- CSS -->
    <link href="/static/style.css" rel="stylesheet">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <!--FontAwesome icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="is-fullheight-100vh">
    <!-- Navbar -->
        <nav class="navbar" id="my-nav">
            <!--logo-->
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="/static/tlom-logo.png" alt="TLOM logo" class=" logo" >
                </a>
                <a role="button" class="navbar-burger" id="burger">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <!--line menu-->
            <div class="navbar-menu" id="nav-links">
                <div class="navbar-end">
                    <a class="navbar-item active ">Traductor</a>
                    <a class="navbar-item ">Información</a>
                    <a class="navbar-item ">Sitios de interés</a>    
                </div>
            </div>
        </nav>

    
        <div class="history-wrap">
        <!--History button-->
            <button class="button button-history is-large" id="history-btn">
                <span class="icon-text">
                    <i class="fas fa-chevron-left fa-xs" id="icon-chng"></i>
                </span>    
                <span>
                    &nbsp
                </span>
                <span>    
                    <i class="fas fa-history"></i>
                </span>
            </button>

            <!--3rd column-->
            <div class="">
                <div class="box box-input box-history" style="display: none;" id="my-history">
                        <table>
                            <thead><th>Historial</th></thead>
                            <tbody>
                                <tr><td>Texto : Traducción de piragua</td></tr> 
                                <tr><td>Texto : Traducción</td></tr> 
                            </tbody>
                        </table>
                </div>
            </div>
        </div>   
        

    <div class="my-content" id="main" >
        <section class="section">
            <div class="container">
                <!--columnas-->
                <div class="columns">
                    <!--1st and 2nd column-->
                    <!--1a col-->
                    <div class="column">
                            <div class="box box-input p-0">
                                <!--dropdown-->
                                <div class="back-languages p-2">
                                    <div  class="dropdown" onclick="state('dropdown1')" id="dropdown1">
                                        <div class="dropdown-trigger">
                                        <button class="button-in">
                                            <span id="label1">Idioma de entrada</span>
                                            <span class="icon-text">
                                                <i class="fas fa-angle-down"></i>
                                            </span>
                                        </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content" id="lang-1">
                                            {% for lang in languages%}
                                                <a onclick="select('lang-1','label1')" value="{{ lang }}" class="dropdown-item" >
                                                {{  lang }}
                                                </a>
                                            {% endfor %}    
                                        </div>
                                        </div>
                                    </div>
                                    <button class="button button-switch p-4" >
                                        <span class="icon-text">
                                            <i class="fas fa-solid fa-right-left"></i>
                                        </span>
                                    </button>
                                </div>    
                                <!--input-->
                                <div>
                                    <textarea class="textarea box-input" placeholder="Escribe o pega aquí tu texto" id="mytextarea"></textarea>
                                </div>
                                <!--translate button--> 
                                <div class="level-right">
                                    <div class="level-item">
                                    <a class="button"  type="submit">Traducir</a>
                                    </div>
                                </div>
                            </div>    
                    </div>
                    <!--columna 2-->
                    <div class="column">
                        <div class="box box-out p-0">
                            <!--dropdown-->
                            <div class="back-languages p-2">
                                <div class="dropdown" id="dropdown2" onclick="state('dropdown2')">
                                    <div class="dropdown-trigger">
                                    <button class="button-in" >
                                        <span id="label2">Idioma de salida</span>
                                        <span class="icon-text is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content" id="lang-2">
                                        {% for lang in languages%}
                                            <a onclick="select('lang-2','label2')" value="{{ lang }}" class="dropdown-item" >
                                            {{  lang }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    </div>
                                </div>
                            </div>    
                            <!--output-->
                            <div>
                                <textarea class="textarea box-out" placeholder="Aquí aparecerá la traducción" id="mytextarea2" readonly></textarea>
                            </div>
                            <!--score translation buttons--> 
                            <div class="level-right">
                                <div class="level-item has-addons">
                                    <a class="button">
                                        <span class="icon-text is-small">
                                            <i class="fas fa-thumbs-up"></i>
                                        </span>
                                    </a>
                                    <a class="button">
                                        <span class="icon-text is-small">
                                        <i class="fas fa-thumbs-down"></i>
                                        </span>
                                    </a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>

                <!--Diccionario-->
                <div class="columns">
                    <div class="column">
                        <div class="box box-out p-0">
                            <!--dropdown-->
                            <div class="back-languages pl-4">
                                    <div class="button-none" >
                                        <span id="label3">Diccionario</span>
                                        <span class="icon-text is-small">
                                        <i class="fas fa-book-open" aria-hidden="true"></i>
                                        </span>
                                    </div> 
                            </div>    
                            <!--output-->
                            <div>
                                <textarea class="textarea box-out" placeholder="Realiza una traducción para visualizar sus componentes" id="mytextarea3" readonly></textarea>
                            </div>
                            
                        </div>
                    </div>    
                </div>
            </div>
        </section>
    </div>    

    <footer class=" mx-6 p-5 py=0">
        <div class="content has-text-centered"> 
          <img src="/static/LogoUNAM_IIMAS_Negro.png" width="100" class="mb-2">     
          <p>
            Instituto de Investigaciones en Matemáticas Aplicadas y en Sistemas (<b>IIMAS</b>)<br />

            Universidad Nacional Autónoma de México (<b>UNAM</b>)
          </p>
        </div>
    </footer>
    </div>

    <!--JavaScript-->
    <script src="/static/index.js"></script>
</body>
</html>