<html lang="es" class="has-background-primary-light">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TLOM</title>
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="static/tlom-icono.png">
    <!--Bulma-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- CSS -->
    <link href="/static/style.css" rel="stylesheet">
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Montserrat&display=swap" rel="stylesheet">
    <!--FontAwesome icons-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script> 
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <!--logo-->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="/static/tlom-logo.png" alt="TLOM logo" class=" logo" >
            </a>
            <a role="button" class="navbar-burger" id="burger">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <!--line menu-->
        <div class="navbar-menu" id="nav-links">
            <div class="navbar-end">
                <a class="navbar-item ">Información</a>
                <a class="navbar-item ">Sitios de interés</a>    
                <a class="navbar-item">Contacto</a>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container is-fluid">
            <!--columnas-->
            <div class="columns">
                <!--1a col-->
                <div class="column">
                    <div class="box box-input p-0">
                        <!--dropdown-->
                        <div class="back-languages p-2">
                            <div class="dropdown is-inactive">
                                <div class="dropdown-trigger">
                                <button class="button-in">
                                    <span>Idioma de entrada</span>
                                    <span class="icon-text is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item is-active" >
                                    Lengua 1 activa
                                    </a>
                                    <a class="dropdown-item">
                                    Lengua 2
                                    </a>
                                    <a href="#" class="dropdown-item ">
                                    Lengua 3 
                                    </a>
                                    <a href="#" class="dropdown-item">
                                    Lengua 4
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">
                                    Lengua 5
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>    
                        <!--input-->
                        <div>
                            <textarea class="textarea box-input" placeholder="Escribe o pega aquí tu texto"></textarea>
                        </div>
                        <!--translate button--> 
                        <div class="level-right">
                            <div class="level-item">
                              <a class="button">Traducir</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--columna 2-->
                <div class="column">
                    <div class="box box-out p-0">
                        <!--dropdown-->
                        <div class="back-languages p-2">
                            <div class="dropdown is-inactive">
                                <div class="dropdown-trigger">
                                <button class="button-in">
                                    <span>Idioma de salida</span>
                                    <span class="icon-text is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <a href="#" class="dropdown-item is-active" >
                                    Lengua 1 activa
                                    </a>
                                    <a class="dropdown-item">
                                    Lengua 2
                                    </a>
                                    <a href="#" class="dropdown-item ">
                                    Lengua 3 
                                    </a>
                                    <a href="#" class="dropdown-item">
                                    Lengua 4
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item">
                                    Lengua 5
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>    
                        <!--output-->
                        <div>
                            <textarea class="textarea box-out" placeholder="Aquí aparecerá la traducción" readonly></textarea>
                        </div>
                        <!--score translation buttons--> 
                        <div class="level-right">
                            <div class="level-item has-addons">
                                <a class="button">
                                    <span class="icon-text is-small">
                                        <i class="fas fa-thumbs-up"></i>
                                    </span>
                                </a>
                                <a class="button">
                                    <span class="icon-text is-small">
                                      <i class="fas fa-thumbs-down"></i>
                                    </span>
                                </a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--<script src="index.js"></script>-->
</body>
</html>